<div class="container">
	<h1>Recipes</h1>
<div class="recipe">

<h3>Blueberry Banana Smoothie</h3>
<h4>Ingredients</h4>
<ul>
<li>1 cup blueberries</li>
<li>1 banana</li>
<li>1/2 cup yogurt (low-fat vanilla or 0% greek yogurt)</li>
<li>3-4 ice cubes</li>

<li>splash of apple juice (optional)</li>
<br>

<li>Put all ingredients in a blender. Blend away on high until smooth. Enjoy!</li>
</ul>
</div>
<div class="recipe">
<h3>Green Monster Smoothie</h3>
<h4>Ingredients</h4>
<ul>
<li>2 cups spinach</li>
<li>1/2 banana</li>
<li>1 tbs lemon juice </li>
<li>2 stalks celery</li>
<li> 1/2 cucumber</li>
<li>1/2 cup of apple juice</li>
<br>

<li>Put all ingredients in a blender. Blend away on high until all is blended. Get your green on!</li>
</ul>
</div>
</div>

